---
---

@import "{{site.theme}}";

.topnav {
  border: 1px solid #2a2a2a;
  background: #ddd url(../images/pattern.png);
  box-shadow: 0 0 5px #b1b1b1;
  overflow: hidden
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #90d355;
  color: black;
}

.topnav a.current {
  background-color: #63a52a;
  color: white;
}